* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 50px;
}
 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #f1a536;
    border-bottom: white 5px solid;
}

nav ul {
    list-style: none;
    display: flex;
    float: right;
    margin-right: 100px;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 22px;
}

nav ul li a:hover {
    text-decoration: none;
    color: #ececec;
    font-weight: bold;
}


.hero {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: top;
    height: 700px;
    width: 100%;
    margin-bottom: 100px;
}

.startweek {
    background-color: white;
    padding: 20px 20px;
    font-size: 50px;
    font-weight: bolder;
    justify-content: center;
    margin-bottom: 80px;
}

.categories {
    padding: 10x 20px;
    width: 100%;
}

.categories h2 {
    text-align: left;
    margin-left: 280px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 1000;
}

.categories p {
    max-width: 70%;
    margin: 0 auto 30px;
    font-size: 30px;
}

.category-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    /* background-color: #fff;
    border: 1px solid #ddd; */
    padding: 10px;
    text-align: center;
    max-width: 440px;
    flex: 1;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    width: 580px;
    height: 300px;
}

.card p {
    font-weight: bold;
    color: #333;
    font-size: 20px;
}

.recipesoftheweek {
    background-color: #dadfea;
    padding: 10x 20px;
    width: 100%;
}

.recipesoftheweek h2 {
    text-align: left;
    margin-left: 280px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 1000;
}

.recipesoftheweek p {
    max-width: 70%;
    margin: 0 auto 30px;
    font-size: 30px;
}

.recipesoftheweek-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.recipecard {
    /* background-color: #fff;
    border: 1px solid #ddd; */
    padding: 10px;
    text-align: center;
    max-width: 320px;
    flex: 1;
}

.recipecard img {
    /* background-color: #fff;
    border: 1px solid #ddd; */
    max-width: 100%;
    height: auto;
    width: 500px;
    height: 200px;
}

.recipecard p {
    padding: 20px;
    max-width: 100%;
    font-size: 20px;
    background-color: white;
}

.wheretoeat {
    background-color: #ffffff;
    padding: 10x 20px;
    width: 100%;
}

.wheretoeat h2 {
    text-align: left;
    margin-left: 280px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 1000;
}

.wheretoeat p {
    max-width: 70%;
    margin: 0 auto 30px;
    font-size: 30px;
}

.wheretoeat-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.wheretoeatcard {
    /* background-color: #fff;
    border: 1px solid #ddd; */
    padding: 10px;
    text-align: center;
    max-width: 440px;
    flex: 1;
}

.wheretoeatcard img {
    /* background-color: #fff;
    border: 1px solid #ddd; */
    max-width: 100%;
    height: auto;
    width: 500px;
    height: 300px;
    border: 10px solid #dadfea;
}

.wheretoeatcard p {
    padding: 20px;
    max-width: 100%;
    font-size: 20px;
}

iframe {
    display: flex;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: #f1a536;
}

footer ul {
    list-style: none;
    display: flex;
    float: right;
    margin-right: 100px;
}

footer ul li {
    margin-right: 30px;
}

footer ul li a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
}